@use "../../styles/vars";

.createurs-item {
  margin: 1em 2em 1em 1em;
  padding-right: 2em;
  border-right: 1px solid;
}

.navigation-container {
  display: flex; /* Afficher la navigation par défaut */

  @media (max-width: 1390px) {
    display: none; /* Masquer la navigation pour les écrans plus étroits */
  }
}

.mobile-navbar {
  display: none; /* Masquer le menu hamburger avec toutes les catégories par défaut */

  @media (max-width: 1390px) {
    display: block; /* Afficher le menu hamburger pour les écrans plus étroits */
  }

  .bars-icon-container {
    background-color: inherit;
    border: 1px solid darkgray;
  }
}

.simple-dropdown {
  .dropdown.icon {
    display: none;
  }
}

.custom-dropdown .dropdown.icon::before {
  display: none;
}


.simple-dropdown {
  &:hover {
    .menu {
      display: block !important;
    }
  }
}
